/* Estilos para la barra superior */
.top-bar {
    background-color: white; /* Color de fondo de la barra blanca */
    height: 50px; /* Altura de la barra blanca  */
    width: 100%; /* Ancho completo de la página */
    position: fixed; /* Fijar la barra en la parte superior */
    z-index: 10; /* Asegura que la barra esté encima del fondo */
    top: 0; /* Alineación en la parte superior */
    left: 0; /* Alineación en la parte izquierda */
}

/* Estilos para el contenedor del logotipo */
.logo-container {
    text-align: center;
}

/* Estilos para el logotipo */
.logo {
    max-width: 160px; /* Ajusta el tamaño máximo del logotipo según tus preferencias */
    margin-top: 10px; /* Espaciado superior del logotipo */
}

/* Estilos para el fondo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/fondo.jpg');
    background-size: cover; /* La imagen se ajustará para cubrir toda la pantalla sin pixelarse */
    background-repeat: no-repeat;
    background-position: center center; /* Centra la imagen en la pantalla */
    height: 100vh; /* Establece la altura al 100% del viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

