/* Estilos para el formulario */
.general-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 80%;
    width: 70%; /* Ancho del contenedor del formulario */
    max-width: 400px; /* Ancho máximo del formulario para hacerlo más amplio */
    margin: auto; /* Centrar horizontalmente */
    position: absolute; /* Cambiar a posición absoluta */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Centrar completamente */
}

/* Estilos para los campos de correo y contraseña */
.form-group {
    margin-bottom: 5px;
    text-align: left; /* Alinea el texto a la izquierda */
}
.form-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -8px; /* Espacio inferior entre el label y el campo de texto */
}

/* Estilos para el formulario */
.form-group {
    margin-bottom: 20px;
}

/* Estilos para la línea de tiempo */
.progress {
    height: 20px;
    margin-bottom: 30px;
}

.progress-bar {
    font-size: 14px;
    line-height: 20px;
}

/* Estilos para los campos de entrada */
.form-control {
    width: 100%;
}

/* Estilos para el botón de guardar */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

